<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>the5fire.com-backbone.js-Hello World</title>
</head>
<body>
    <form>
    First name: <input type="text" id="firstname"><br>
    Age: <input type="text" id ="age">
    </form>

    <button id="check">添加</button>

    <ul id="world-list">
    </ul>
    <a href="http://www.the5fire.com">更多教程</a>
    <script src="http://the5fireblog.b0.upaiyun.com/staticfile/jquery-1.10.2.js"></script>
    <script src="http://the5fireblog.b0.upaiyun.com/staticfile/underscore.js"></script>
    <script src="http://the5fireblog.b0.upaiyun.com/staticfile/backbone.js"></script>

    <script type="text/template" id="item_view">
        <li>Firstname <b> <%= name %> </b> age :    <%= age %></li>
    <a class = "destroy"> 删除 </a>
    </script>

    <script>
    (function ($) {
        World = Backbone.Model.extend({
            default:{
                name: '测试',
                age: '11'
            },

            // initialize: function(){
            //     alert(this.get('name')+ '   age:'+ this.get('age'))      //获取传入方法
            // },

            

            
        });
 
        Worlds = Backbone.Collection.extend({
            model:World
        });

        var todos = new Worlds;

        var todoView = Backbone.View.extend({

            tagName: "li",

            // model: World,

            template: _.template($('#item_view').html()),

            events:{
                "click .destroy" :"clear"
            },
            clear:function(){
                this.model.destroy();
            },

            initialize: function(){
                this.listenTo(this.model, 'change' , this.render);
                this.listenTo(this.model, 'destroy', this.remove)
            },

            render: function(){
                this.$el.html(this.template(this.model.toJSON()));
                return this;
            }
        })

        AppView = Backbone.View.extend({
            el: $("body"),
            initialize: function () {
                //构造函数，实例化一个World集合类
                this.listenTo(todos, 'add', this.addOne);
            },
            events: {
                //事件绑定，绑定Dom中id为check的元素
                "click #check":  "checkIn",
            },

            //Template: _.template($('#item_view').html()),

            checkIn: function () {
                var world_name = $('#firstname').val();
                var world_age = $('#age').val();
                if(world_name == "") world_name = '未知';
                var world = new World({ name: world_name ,age: world_age});
                // this.todos = new World({ name: world_name ,age: world_age});
                todos.add(world);
                $('#firstname').val('');
                $('#age').val('');

            },
            addOne: function(tododata) {
                var view = new todoView({model: tododata});   //这个地方传入数据  
                $("#world-list").append(view.render().el);
                // this.$el.append(view.render().el);
            },
            addAll:function(){
                $("#world-list").empty();
                todos.each(this.addOne,this);
            }
        });
        //实例化AppView
        var appview = new AppView;
    })(jQuery);
    </script>
</body>
</html>